.video-card {
    aspect-ratio: 9/16;
    background-color: #000;
    border-radius: var(--border-radius-card);
    position: relative;
}
.video-card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}